header{
    display: flex;
    background-color:#EDE8EF;
}
nav a{
    text-decoration: none;
    color: #2a8ec7;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.box-flex{    
    list-style: none;
    display: flex;
    gap: 50px;
}
.title{
    color: #2a8ec7;
}
.subtitle, 
h3{
    color:#705697;
}
.box{
    background-color: #EDEDF5;
}
#soft-skills ul li::marker {
    color: #705697;
  }

