@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Stencil+One&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Stencil+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ropa+Sans:ital@0;1&family=Saira+Stencil+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    text-align: center;  
}
.general-text{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100; 
    font-size: 90%;
    line-height: 5vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
header{
    background: linear-gradient(to right, #EDE8EF, #C3BFD7, #A195BF);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: fixed; 
    z-index: 100;   
    inset: 0 0 auto 0;    
    height: 70px
}
header div{
    display: flex;    
}
header nav{
    flex-grow: 1;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    font-family: "Saira Stencil One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0 4px;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    min-width: 45px;
    min-height: 45px
}
nav img{
    background-color: #f6fcf1;
    border-color:#C3BFD7;
    border-style:solid;
    border-radius: 50%;
    padding: 5px;
    align-self: center;
    width: 40px;
    height: 40px;
    transition: width 0.3s, height 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(to bottom, #d4ffd6, #C3BFD7);
}
nav img:hover{
    border-color: #d4ffd6;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
section{
    padding: 70px 30px;    
}
#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: 1;
}
#heading-me{
    color:#177ab3;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-justify: center;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
#heading-name{
    font-size: 45px;
    margin: 0;
}
#heading-role{
    font-size: 35px;
    margin: 0;
}
#about-me-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px;

}
#about-me-box img {
    align-self:center;     
    flex-shrink: 0;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}
#about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 73%;   
}
#about-me-text p{
    text-align: justify;
}
#about-me-text div{
    text-align: justify;
}
.box-flex{    
    display: flex;
    gap: 50px;
}

.title{
    color: #2a8ec7;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 180%;
    background-color: #f6fcf1;background: linear-gradient(to left, #f6fcf1, #d4d1e6, #f6fcf1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.subtitle, 
h3{
    color:#705697;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 120%;
}
.box{
    background-color: #EDEDF5;
}
.hard-skills-text{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100; 
    font-size: 80%;
}
#soft-skills ul li::marker {
    color: #705697;
}
#skills ul li{
    text-align: left;
    line-height: 6vh;
}
.contact-text{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100; 
    font-size: 80%;
}

